* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background: black;
    color: white;
    text-align: center;
  }
  
  /* HERO */
  .hero {
    height: 70vh;
    background: radial-gradient(circle, #8b0000, #000);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    color: #ff1a1a;
  }
  
  .subtitle {
    font-size: 1.5rem;
  }
  
  /* SECCIONES */
  section {
    padding: 60px 20px;
  }
  
  h2 {
    color: #ff1a1a;
    margin-bottom: 30px;
  }
  
  /* HORARIOS */
  .estudio {
    border: 1px solid #ff1a1a;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
  }
  
  /* PRECIOS */
  #precios {
    max-width: 400px;
    margin: auto;
  }
  
  .precio-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding: 10px 0;
  }
  
  /* BOTON */
  .btn {
    display: inline-block;
    padding: 15px 30px;
    background: #ff1a1a;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
  }
  
  /* FOOTER */
  footer {
    padding: 20px;
    opacity: 0.6;
  }
  
  .redes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -40px;
  }
  
  .social {
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
  
  .social.ig {
    background: #ff1a1a;
  }
  
  .social.tt {
    background: white;
  }
  
  .estudio-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #ff1a1a;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .estudio-info {
    flex: 1;
    text-align: left;
  }
  
  .estudio-info ul {
    list-style: none;
    margin-top: 10px;
  }
  
  .estudio-info li {
    margin-bottom: 8px;
  }
  
  iframe {
    width: 100%;
    max-width: 350px;
    height: 250px;
    border: none;
    border-radius: 10px;
  }
  